there should be only company overview when you click ccompanyu. 
100 vh section



plz remove our services meri jaan , you are laready put these services in VOICE &  SMS :)
remove section 


this iconnect shoul be in capital form. in voice and sms
again solutions are showing up

these icons should be in red color

please mention News & Events. plz visit zones.com for menu bar desin, and also remove Home button. 

remove this gap in iconnect positions opened 

drag Senior Soft to left side

Address:
1. 22-15 International Plaza, 10 Anson Road, Singapore. 
2. Office No 1100A Al Habtoor Motors Building P.O. Box 282071 Dubai, United Arab Emirates
please remove technical queries and commercial queries. sinmply mention for more information email us at iconnect@iconnectnetworks.com

add top patti